<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="header">
        <div class="forum">
        <h1>FORUM</h1>
    </div>
        <div class="bottom">
            <a href="/create"><button type="submit">Создать пост</button></a>
            <a href="/login"> <button type="submit">Войти</button></a>
        <a href="/signup"><button type="submit">Регистрация</button></a>
        <a href="/logout"><button type="submit">Выйти</button></a>
        
    </div>
    </div>
    
    {{if .AuthUser}}
    {{range .PostScroll}}
 <div>
     <h1>Hi, {{.Post.Author}}</h1>
 </div>
    {{end}}
 {{end}} 

{{if .PostScroll}}
    {{range .PostScroll}}
    <div>
       
        <p>{{.Post.Author}}</p>
        <p>{{.Post.Title}}</p>
        <p>Threads: {{range .Threads}}#{{.Name}} {{end}} </p>
        <p>{{.Post.Content}}</p>
        <p>{{.Post.CreationDate}}</p>
        <br>
        <br>
        
        

    </div>
    {{end}}
{{end}}
</body>
</html>