<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="header">
        <div class="forum">
        <h1>FORUM</h1>
    </div>
    <!-- If user is authenticated, buttons "create post" and "logout" are available -->
    {{if .AuthUser}}

        <div class="bottom">
            <a href="/create"><button type="submit">Создать пост</button></a>
            <a href="/logout"><button type="submit">Выйти</button></a>
        </div>
    <!-- Else guest, buttons "log in" and "sign up" are available -->
    {{ else }}
    <div class="bottom">    
        <a href="/login"> <button type="submit">Войти</button></a>
        <a href="/signup"><button type="submit">Регистрация</button></a> 
    </div>
    {{ end }}
    </div>

<!-- If user is authenticated, displaying greeting -->
    {{if .AuthUser}}
    {{range .PostScroll}}
 <div>
     <h1>Hi, {{.Post.Author}}</h1>
 </div>
    {{end}}
 {{end}} 
<!-- Displaying of all posts -->
{{if .PostScroll}}
    {{range .PostScroll}}
    <div>
       
        <p>{{.Post.Author}}</p>
        <p><a target="_blank" rel="noopener noreferrer" href="/post?id={{ .Post.PostID }}">{{.Post.Title}}</a></p>
        <p>Threads: {{range .Threads}}#{{.Name}} {{end}}</p>
        <p>{{.Post.Content}}</p>
        <p>{{.Post.CreationDate}}</p>
        <br>
        <br>
         
    </div>
    {{end}}
{{end}}
</body>
</html>