<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="header">
        <div class="forum">
        <h1>FORUM</h1>
    </div>
        <div class="bottom">
        <a href="/login"> <button type="submit">Войти</button></a>
        <a href="/signup"><button type="submit">Регистрация</button></a>
    </div>
    </div>
</body>
</html>