<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Forum Post</title>
</head>
<body>
    <div class="header">
        <div class="forum">
        <h1>FORUM</h1>
    </div>
    <!-- If user is authenticated, buttons "create post" and "main page" are available -->
    {{ if .AuthUser }}
    <div class="bottom">
        <a href="/"><button type="submit">Главная страница</button></a>
        <a href="/create"><button type="submit">Создать пост</button></a>
    </div>
    <!-- If user is authenticated, buttons "main page", "log in" and "sign up" are available -->
    {{ else }}
    <div class="bottom">
        <a href="/"><button type="submit">Главная страница</button></a>
        <a href="/login"> <button type="submit">Войти</button></a>
        <a href="/signup"><button type="submit">Регистрация</button></a>
    </div>
    {{ end }}
    </div>
    <!-- Displaying post Author -->
    {{ if .AuthUser }}
    <div class = "author">
        <h1>Author of the post is {{ .AuthUser.Username }}</h1>
    </div>
    {{end}}
    <!-- Displaying post content -->
    {{ if .PostInfo }}    
    <div class = "post">
        <p>{{.Post.Title}}</p>
        {{ range .PostInfo }}
        <p>Threads: {{range .Threads}}#{{.Name}} {{end}}</p>
        {{ end }}
        <p>{{.Post.Content}}</p>
        <p>{{.Post.CreationDate}}</p>
        <br>
        <br>
    </div>
    {{ end }}
    {{ if .AuthUser }}
    <div>
        <form method="POST">
            <textarea name="comment" placeholder="Comment this post..."></textarea>
            <button type="submit">Comment</button>
        </form>
    </div>
    {{ end }}
    <!-- Displaying Comments -->
    {{ if .PostInfo }}
        {{ range .PostInfo }}
            {{ range .Comms }}
            <div>
                <p>{{ .Author }}</p>
                <p>{{ .Content }}</p>
                <p>{{ .CreationDate }}</p>
            </div>
            {{ end }}
        {{ end }}
    {{ end }}
    <!-- Need to add likes, dislikes, comments -->
    <!-- If auth user, add functions to rate post, add comments  -->
</body>
</html>
