<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Registrtation Page</title>
      <link rel="stylesheet" href="../css/signup.css">
  </head>

<body>
  <form action="/signup" method="post">
    <!-- <div class="imgcontainer">
    </div> -->
    <div class="container">
      <label for="firstname"><b>Имя </b></label>
      <input type="text" placeholder="Введите Имя" name="Firstname" required>
      <label for="lastname"><b>Фамилия </b></label>
      <input type="text" placeholder="Введите Фамилию" name="Lastname" required>
      <label for="uname"><b>Ник</b></label>
      <input type="text" placeholder="Введите Ник" name="Username" required>
      <label for="email"><b>Эмэил </b></label>
      <input type="email" placeholder="Введите эмэйл" name="Email" required>
      <label for="psw"><b>Пароль</b></label>
      <input type="password" placeholder="Введите Пароль" name="Password" required>
      <input type="password" placeholder="Подтвердите Пароль" name="Confirm" required>
      <button type="submit">Зарегистрироватся</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Запомнить меня
      </label>
    </div>
  
    <div class="container"  >  
      <span class="psw"> <a href="#">Забыли пароль?</a></span>
    </div>
  </form> 
</body>
</html>

